.wrapper {
    margin-top: -70px;
    z-index: 4;
}
.control {
    background-color: gray;
    margin-top: 90px;
}
.view {
    position: absolute;
    height: calc(100% - 111.25px);
    width: 100%;
    background-color: black;
    margin-top: 0px;
    z-index: 0;
}

p{
    text-indent: 0px;
}
