 
#navbarheader {
    margin-top: 0px;
    z-index: 3;
}

/* Style control for the whole audio changer file*/
#AudioChanger {
    position: relative;
    top: 110px;
    width: fit-content;
    height: fit-content;
    left: 29%; 
    text-align: center;
}

/* Style control for the main header*/
h1 {
    top: 0px;
    text-align: center;
}

/* Style control for the header for the titles section*/ 
h2 {
    text-align: center;
}

/* Style control for the time stamp and the File name and Current title*/
p {
    text-indent: 0px;
    text-align: center;
}

/* Style control for just the time stamp*/
#time {
    position: relative;
    left: 45%;
    text-align: center;
}
/* Style control for the File name and the current title*/
#audiofile {
    position: relative;
    text-align: center;
    top: 0px
}

/* Style control for the audio controls*/
#audiocontrols {
    position: relative;
    width: 500px;
    height: 50px;
    text-align: center;
    top: 20px;
    margin-top: 0px;

}

/* Styling for the pop up menu to enter a new title */
#newtitle {
    position: relative;
    top: 120px;
    left: 120px;
    display: none;
    border: 1px solid gray;
    width: 50%;
    height: 100px;
    align-self: center;
    background-color: white;
    border-radius: 20px;
}

/* Styling for the header and list of titles */
#titles {
    position: relative;
    top: 110px;
    text-align: center;
}



/* Styling for the buttons */
.button-33 {
  background-color: initial;
  background-image: linear-gradient(-180deg, orange, orange);
  
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 20%;
  z-index: 0;
  border: 0;
  transition: box-shadow .2s;
  margin: 5px;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

/* Styling for the title buttons in the list*/
.button-33-2 {
    background-color: initial;
    background-image: linear-gradient(-180deg, orange, orange);
    
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 200px;
    z-index: 0;
    border: 0;
    transition: box-shadow .2s;
    margin: 5px;
  }
  
  .button-42:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
  }


