/* Styling for the div that will hold all the stats*/
#stats {
    position: relative;
    top: 50px;
    Left: 0%;
    width: 100%;
    text-align: center;
    text-indent: 0;
}



/*Positions the header of the page*/
h1 {
    position: relative;
    width: 100%;
    left: 0%;
    text-align: center;
}