body {
    margin: 0;
}
#navbarheader {
    top: 0;
    z-index: 3;
}
#content {
    text-align: center;
    width: 500px;
    position: relative;
    top: 55px;
    left: 31%;
    color: orange;
    z-index: 0
}

form {
    font-size: 20px;
}

p {
    font-size: 23px;
}