#navbarheader {
    z-index: 3;
}
h1 {
    position: relative;
    width: 1200px;
    left: 2%;
}
p {
    text-indent: 0;
}

#info {
    position: relative;
    top: 40px;
    left: 2%;
    width: 1200px;
    z-index: 0;
}

img {
    position: absolute;
    width:300px;

}


#description {
    position: absolute;
    top: 40px;
    left: 310px;
}

#categories {
    position: absolute;
    top: 150px;
    left: 310px;
}

#credit {
    position: absolute;
    top: 215px;
    left: 310px;
}

#basic {
    position: absolute;
    left: 310px;
}

#back {
    position: absolute;
    width: fit-content;
    margin: 20px;
    padding: 15px;
    top: 65px;
    background-color: orange;
    width: 70px;
    height: 23px;
    border-radius: 20px;
    z-index: 0;
    color: white;
    text-align: center;
    cursor: pointer;
}