body {
    margin: 0px;
}
#navbarheader {
    margin-top: -70px;
    z-index: 3;
}

h1 {
    top: 0;
    margin: 70px;
}

h2 {
    text-align: center;
    position: relative;
    top: -50px;
}

p{
    position: relative;
    text-indent: 0px;
    text-align: center;
    margin-top: 10px;
    top: -50px;
    left: 20%;
    width: fit-content;
}

#userinput {
    position: relative;
    left: 38%;
    top: -50px;
}

#list {
    position: relative;
    left: 35%;
    top: -50px;
}
