body {
    margin-top: -22px;
}
h1 {
    text-align: left;
}

#Form {
    position: relative;
    width: 50%;
    left: 20px;
    
}

form {
    position: relative;
    top: 50px;
    
}

#cards {
    position: relative;
    left: 40%;
    top: -338px;
}

#card {
    position:relative;
    top: 40px;
}

.wrapper {
    z-index: 10;
}