/* Makes the navbar button for this page gray */
#about {
    background-color: gray;
}
/* Makes the navbar button for the search page orange */
#search {
    background-color: orange;
}
/* Postions the header */ 
#aboutTitle {
    position: relative;
    left: 0%;
    width: 100%;
}

/* Styling for the about section */
#details {
    text-indent: 0px;
    cursor:default;
    color: orange;
    text-align: center;
    width: 100%;
    position: relative;
    left: 0%;
    top: 40px;
    font-size: 17px;
}