#login {
    position: relative;
    border: 2px solid black;
    top: 200px;
    width: 400px;
    left: 35.5%;
    height: 400px;

}
.input {
    position: relative;
    left: 10%;
    width: 75%;
}
p {
    text-indent: 0;
}
h2 {
    text-align: left;
}

#emailInput {
    font-size: 20px;
    padding: 5px;
}

#passwordInput {
    font-size: 20px;
    padding: 5px;
}

#forget {
    position: relative;
    left: 10%;
}

#submit {
    position: relative;
    top: 60px;
    height: 40px;
    background-color: blue;
    color: white;
    font-size: 20px;
}

