body {
    margin-top: 0px;
}

#navbarheader {
    z-index: 4;
}
#drag {
    text-indent: 0px;
    text-align: center;
}

.slideButton {
    position: relative;
    top: 80px;
}


@keyframes slideRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

.animatedBlock {
    position: relative;
    width: 200px;
    height: 100px;
    top: 100px;
    background-color: rgb(88, 70, 180);
    border: 2px solid black;
    border-radius: 10px;
    z-index: 0;
}

.animate {
    animation: slideRight 2s ease-in-out infinite alternate;
}

#draggable {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 250px;
    left: 0px;
    cursor: grab;
    z-index: 0;
}

#input {
    position: relative;
    top: 150px;
}

.response {
    top: 400px;
    text-align: left;
    
}

#mouseClick {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: -30px;
    left: 500px;
    color:white;
    z-index: 0;
}

#focusEvent {
    position: relative;
    left: 300px;
    z-index: 0;
}