/* Makes the navbar button for this page gray */
#about {
    background-color: gray;
}
/* Makes the navbar button for the search page orange */
#search {
    background-color: orange;
}
/* Postions the header */ 
h1 {
    position: relative;
    left: 30%;
    width: 500px;
}

/* Styling for the about section */
#details {
    text-indent: 0px;
    cursor:default;
    color: orange;
    text-align: center;
    width: 500px;
    position: relative;
    left: 30%;
    top: 40px;
}