/* Styling for the div that will hold all the stats*/
#stats {
    position: relative;
    top: 30px;
    Left: 39%;
    width: fit-content;
    text-align: center;
}
/* Makes the navbar button for search page orange*/
#search {
    background-color: orange;
}

/* Makes the navbar button for this page gray*/
#stat {
    background-color: gray;
}

/*Positions the header of the page*/
h1 {
    position: relative;
    width: fit-content;
    left: 40%;
}